// 아이템 너비 통일
 $item-width: 140px;

section.coffee-con {
    // background-color: lightcoral;
    padding-top: 20px;
    .allcoffee-container {
        background-color: lightgreen;
        margin-top: 100px;
        ul.allcoffee-list {
            // background-color: lightgreen;
            padding: 20px;
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-around;
            > li {
                background-color: lightsalmon;
                width:  $item-width;
                height: 140px;

            }
        }
    }
    .basicmenu-container {
        background-color: lightskyblue;
        height: 400px;
        padding: 40px 0;

        > div {
            background-color: cornsilk;
            // height: 100px;
            position: relative;
            > p {
                // background-color: chocolate;
                display: inline-block;
                position: absolute;
                transform: translateX(350px);
                left: 50px;
            }
        }
        ul.basic-list {
            background-color: #fff;
            width: 800px;
            padding: 20px;

            position: absolute;
            top: 40px;
            right: 0px;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            > li {
                background-color: lightsalmon;
                width:  $item-width;
                height: 140px;
            }
        }
    }
    .specialmenu-container {
        background-color: rgb(121, 238, 199);
        height: 500px;
        padding: 40px 0;
        ul.special-list {
            background-color: chocolate;
            width: 700px;
            padding: 20px 20px 0 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            > li {
                background-color: lightsalmon;
                width:  $item-width;
                height: 140px;
                margin-bottom: 20px;

            }
        }
    }
}