@keyframes rotateImg {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
section.intro-con {
    // background-color: darkkhaki;
    padding-top: 20px;
    .intro-container {
        background-color: #eee;
        margin-top: 100px;
        padding: 40px;
        display: flex;
        .inner-con {
            // background-color: lightgreen;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 30px;
            h2 {
                // transform: translateX(0);
                margin-bottom: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;
            }
            .info-1st {
                background: url('../../img/gabes/company_intro/company_intro_bg_01.jpg') right no-repeat ;
                background-color: #e9e5e2;
                width: 100%;
                height: 200px;
                // margin-top: 20px;
                
                position: relative;
                .top-txt {
                    // background-color: rgb(153, 153, 113);
                    width: 50%;
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translateY(-50%);
                    p:nth-child(1) {
                        font-size: 30px;
                        span {
                            font-weight: bold;
                        }
                    }
                    p:nth-child(2) {
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }
            }
            .info-2nd {
                // background-color: sandybrown;
                margin-top: 80px;
                height: 300px;
                display: flex;
                justify-content: space-between;
                .img-area {
                    background: url('../../img/gabes/company_intro/company_intro_bg_02.jpg') center no-repeat ;
                    // background-color: slategrey;
                    // background-size: cover;
                    background-size: contain;
                    width: 50%;
                    // height: 100%;
                }
                .info-area {
                    // background-color: skyblue;
                    width: 50%;
                    // height: 100%;
                    padding: 0 20px;
                    padding-left: 40px;
                    .info-area-title {
                        // background-color: slategrey;
                        font-size: 20px;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #ccc;
                        margin-bottom: 16px;
                    }
                    table {
                        // background-color: teal;
                        width: 100%;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #ccc;
                        tr {
                            th {
                                // background-color: snow;
                                width: 20%;
                                text-align: left;
                            }
                            td {
                                // background-color: tan;
                                padding: 8px;
                            }
                        }
                    }
                }
            }
            .info-3rd {
                // background-color: steelblue;
                padding: 80px;
                margin-top: 80px;
                border-top: 1px solid #ccc;
                .info-3rd-txt {
                    // background-color: tan;
                    > p {
                        // background-color: thistle;
                        display: inline-block;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    .para {
                        // background-color: teal;
                        padding: 20px 0;
                        font-size: 14px;
                        line-height: 1.5;

                        display: flex;
                        justify-content: space-between;
                        p {
                            width: 46%;
                            &p:nth-child(1) {}
                            &p:nth-child(2) {}
                        }
                    }
                }
                .info-3rd-img-area {
                    // background-color: rgb(148, 141, 141);
                    padding: 20px 0;
                    width: 100%;
                    height: 580px;
                    

                    display: flex;
                    justify-content: space-between;

                    overflow: hidden;
                    position: relative;
                    div {
                        &:nth-child(1) {
                            width: 46%;
                            // height: 84%;
                            height: 100%;
                            background: url('../../img/gabes/company_intro/info-3rd-01.PNG') top no-repeat;
                            // background-color: whitesmoke;
                            background-size: contain;
                        }

                        &:nth-child(2) {
                            width: 46%;
                            height: 100%;
                            align-self: flex-end;
                            
                            background: url('../../img/gabes/company_intro/info-3rd-02.PNG') bottom no-repeat;
                            // background-color: wheat;
                            background-size: contain;
                            z-index: 1;
                        }

                        &.img-round {
                                // background: url('../../img/gabes/company_intro/bg_mission.svg') center no-repeat;
                                background: url('../../img/gabes/company_intro/coffee_beans.png') center no-repeat;
                                // background-color: wheat;
                                background-size: cover;
                                width: 600px;
                                height: 600px;
                                position: absolute;
                                top: -60%;
                                right: -29%;                                
                                animation: rotateImg 50s linear 0s infinite forwards;
                        }
                    }
                }
            }
        }
    }
}




// 하단 박스  (회사소개, 연혁 페이지 동시 적용)
.boxes {
    // background-color: skyblue;
    display: flex;
    > div {
        width: 33.3334%;
        height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .span-div {
            // background-color: steelblue;
            width: 53%;
            text-align: center;
            position: relative;
            > span {
                &::before {
                    content: "";
                    display: block;
                    width: 60px;
                    height: 22px;
                    background: url('../../img/gabes/history/bg_leaf_left.png') no-repeat 0 0;
                    position: absolute;
                }
                &::after {
                    content: "";
                    display: block;
                    width: 60px;
                    height: 22px;
                    background: url('../../img/gabes/history/bg_leaf_right.png') no-repeat 0 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
        > h2 {
            font-size: 30px;
            margin: 24px 0;
        }
        > p {
            text-align: center;
        }
        > a {
            display: inline-block;
            width: 120px;
            height: 40px;
            margin-top: 30px;
            color: #fff;
            font-weight: bold;
            text-align: center;
            padding: 10px 0;
            // border: none;
            transition: 0.3s;
            // cursor: pointer;
            &:hover {
                background-color: rgb(141, 185, 212);
                color: black;
            }
        }
    }
    .box-left {
        background-color: #ffebec;
        > a {
            background-color: #e6224a;
        }
    }
    .box-center {
        background-color: #fff;
        > a {
            background-color: #333333;
        }
    }
    .box-right {
        background-color: #fff1dc;
        > a {
            background-color: #ba770c;
        }
    }
}


/* 디바이스 width의 크기가 950 미만 일때 */
@media screen and (max-width: 949px) {
    section.intro-con {
        .intro-container {
            .inner-con {
                .info-1st {
                    .top-txt {
                        p:nth-child(1) {
                            font-size: 24px;
                        }
                        p:nth-child(2) {
                            
                        }
                    }
                }
                .info-2nd {
                    height: auto;
                    flex-direction: column;
                    align-items: center;
                    .img-area {
                        // background-color: slategrey;
                        width: 100%;
                        height: 300px;
                        // height: 40%;
                    }
                    .info-area {
                        //  background-color: skyblue;
                         width: 85%;
                         margin-top: 16px;
                         padding: 0;
                        .info-area-title {
                            font-size: 18px;
                        }
                    }
                }
                .info-3rd {
                    .info-3rd-txt {

                    }
                    .info-3rd-img-area {
                        padding-bottom: 0;
                        height: 400px;
                        div {
                            &:nth-child(1) {
                                height: 64%;
                            }
    
                            &:nth-child(2) {
                                height: 60%;
                                
                                background: url('../../img/gabes/company_intro/info-3rd-02.PNG') center no-repeat;
                                background-size: contain;
                            }
    
                            &.img-round {
                                    top: -370px;
                                    right: -300px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* 디바이스 width의 크기가 800 미만 일때 */
@media screen and (max-width: 799px) {
    #root > div > section > div > div > div.boxes.inner-con {
        h2 {
            font-size: 20px;
        }
        div {
            .span-div {
                width: 95%;
            }
        }
    }
}