@keyframes rotateImg {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
section.intro-con {
    // background-color: darkkhaki;
    padding-top: 20px;
    .intro-container {
        background-color: #eee;
        margin-top: 100px;
        padding: 40px;
        display: flex;
        .inner-con {
            // background-color: lightgreen;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 30px;
            h2 {
                transform: translateX(0);
                margin-bottom: 20px;
            }
            .info-1st {
                background: url('../../img/gabes/company_intro/company_intro_bg_01.jpg') right no-repeat ;
                background-color: #e9e5e2;
                width: 100%;
                height: 200px;
                position: relative;
                .top-txt {
                    // background-color: rgb(153, 153, 113);
                    width: 50%;
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translateY(-50%);
                    p:nth-child(1) {
                        font-size: 30px;
                        span {
                            font-weight: bold;
                        }
                    }
                    p:nth-child(2) {
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }
            }
            .info-2nd {
                // background-color: sandybrown;
                margin-top: 80px;
                height: 300px;
                display: flex;
                justify-content: space-between;
                .img-area {
                    background: url('../../img/gabes/company_intro/company_intro_bg_02.jpg') center no-repeat ;
                    background-color: slategrey;
                    // background-size: cover;
                    background-size: contain;
                    width: 50%;
                    // height: 100%;
                }
                .info-area {
                    // background-color: skyblue;
                    width: 50%;
                    // height: 100%;
                    padding: 0 20px;
                    padding-left: 40px;
                    .info-area-title {
                        // background-color: slategrey;
                        font-size: 20px;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #ccc;
                        margin-bottom: 16px;
                    }
                    table {
                        // background-color: teal;
                        width: 100%;
                        padding-bottom: 16px;
                        border-bottom: 1px solid #ccc;
                        tr {
                            th {
                                // background-color: snow;
                                width: 20%;
                                text-align: left;
                            }
                            td {
                                // background-color: tan;
                                padding: 8px;
                            }
                        }
                    }
                }
            }
            .info-3rd {
                background-color: steelblue;
                padding: 40px 80px;
                margin-top: 40px;
                border-top: 1px solid #ccc;
                .info-3rd-txt {
                    background-color: tan;
                    > p {
                        background-color: thistle;
                        display: inline-block;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    .para {
                        background-color: teal;
                        padding: 20px 0;
                        font-size: 14px;
                        line-height: 1.5;

                        display: flex;
                        justify-content: space-between;
                        p {
                            width: 46%;
                            &p:nth-child(1) {}
                            &p:nth-child(2) {}
                        }
                    }
                }
                .info-3rd-img-area {
                    background-color: rgb(148, 141, 141);
                    padding: 20px 0;
                    width: 100%;
                    height: 580px;

                    display: flex;
                    justify-content: space-between;

                    overflow: hidden;
                    position: relative;
                    div {
                        &:nth-child(1) {
                            width: 46%;
                            height: 84%;
                            height: 100%;
                            background: url('../../img/gabes/company_intro/info-3rd-01.PNG') top no-repeat;
                            // background-color: whitesmoke;
                            background-size: contain;
                        }

                        &:nth-child(2) {
                            width: 46%;
                            height: 100%;
                            align-self: flex-end;
                            
                            background: url('../../img/gabes/company_intro/info-3rd-02.PNG') bottom no-repeat;
                            // background-color: wheat;
                            background-size: contain;
                            z-index: 1;
                        }

                        &.img-round {
                                background: url('../../img/gabes/company_intro/bg_mission.svg') center no-repeat;
                                // background-color: wheat;
                                background-size: cover;
                                width: 500px;
                                height: 500px;
                                position: absolute;
                                top: -43%;
                                right: -25%;                                
                                animation: rotateImg 50s linear 0s infinite forwards;
                        }
                    }
                }
            }
        }
    }
}