section.intro-con {
    // background-color: darkkhaki;
    padding-top: 20px;
    .intro-container {
        background-color: #eee;
        margin-top: 100px;
        .inner-con {
            // background-color: lightgreen;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}