// 아이템 너비 통일
 $item-width: 180px;

section.desert-con {
    padding-top: 20px;
    .alldesert-container {
        background-color: rgb(255, 244, 228);
        margin-top: 100px;
        padding: 50px 0;
        > .inner-con {
            > h2 {
                margin-bottom: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;
            }
            > p {
                display: inline-block;
                transform: translateY(30px);
            }
        } 
        .alldesert-list {
            height: 500px;
            ul {
                margin-top: 40px;
                background-color: silver;
                height: 100%;
                padding: 22px 0;
                border-radius: 6px;

                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                li {
                    width:  $item-width;
                    height: 200px;
                    padding: 8px 0;
                    overflow: hidden;
                    position: relative;
                    a {
                        .all-img-div {
                            width: 75%;
                            height: 80%;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            &:hover img {
                                transform: translate(-50%, -50%) scale(1.2);
                            }
                            .all-img {
                                width: 100%;
                                height: 90%;
                                border-radius: 10px;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                transition: 0.3s;
                            }
                        }
                        > p {
                            width: 65%;
                            text-align: center;
                            position: absolute;
                            bottom: 10px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
    .basicmenu-container {
        height: 600px;
        padding: 180px 0;

        > div.inner-con {
            background-color: cornsilk;
            position: relative;
            > p {
                display: inline-block;
                position: absolute;
                transform: translateX(350px);
                left: 110px;
                top: 50px;
                z-index: 9;
            }
            ul.list-ul {
                background-color: wheat;
                width: 740px;
                height: 200px;
                padding: 20px 0;
                border-radius: 6px;
                
                position: absolute;
                top: 80px;
                right: 0px;
                z-index: 9;
                
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                > li {
                    width:  $item-width;
                    height: 140px;
                    div.img-div {
                        width: 100%;
                        height: 100%;

                        position: relative;
                        .img-item {
                            height: 90%;
                            border-radius: 10px;

                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            transition: 0.3s;
                            cursor: pointer;
                            &:hover {
                                transform: translate(-50%,-50%) scale(1.2);
                            }
                        }
                    }
                    > p {
                        text-align: center;
                    }
                }
            }
            div.intro-img {
                width: 320px;
                height: 320px;
                border-radius: 50%;
                margin-left: 20px;
                position: absolute;
                top: -40px;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%) scale(0.7);
                }
            }
        }
    }
    .specialmenu-container {
        background-color: rgb(255, 244, 228);
        height: 600px;
        margin-top: 120px;
        padding: 80px 0;
        .inner-con {
            position: relative;
            > p {
                display: inline-block;
                transform: translateY(-10px);
            }
            ul.list-ul {
                background-color: rgb(238, 175, 131);
                width: 740px;
                padding: 20px  0;
                border-radius: 6px;
                
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                > li {
                    width:  $item-width;
                    height: 140px;
                    margin-bottom: 20px;
                    
                    div.img-div {
                        width: 100%;
                        height: 100%;

                        position: relative;
                        .img-item {
                            height: 90%;
                            border-radius: 10px;

                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            transition: 0.3s;
                            cursor: pointer;
                            &:hover {
                                transform: translate(-50%,-50%) scale(1.2);
                            }
                        }
                    }
                    > p {
                        text-align: center;
                    }
                }
            }
            div.intro-div {
                position: absolute;
                top: 0;
                right: 360px;
                div.intro-img {
                    width: 320px;
                    height: 320px;
                    border-radius: 50%;
                    margin-left: 20px;
                    position: absolute;
                    top: -40px;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 45%;
                        left: 50%;
                        transform: translate(-50%,-50%) scale(0.57);
                    }
                }
            }
        }
    }
}

//(공통 사항) basic, special 영양 소개 
.intro-desc {
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
    width: 340px;
    height: 160px;
    padding: 10px;
    
    position: absolute;
    top: 300px;

    table.nutrition {
        width: 100%;
        height: 50%;
        text-align: center;
        border-collapse: collapse;
        thead {
            th {
                font-size: 16px;
                padding: 0;
                span {
                    font-size: 12px;
                }
            }
        }
        tbody {
            height: 40%;
            td {
                font-size: 14px;
                color: gray;
            }
        }
        &:nth-of-type(2) {
            margin-top: 10px;
        }
    }
}

//반응형
/* 디바이스 width의 크기가 1120px 미만 일때 */
@media screen and (max-width: 1119px) {
    section.desert-con {
        .alldesert-container {
            > .inner-con {
                > h2 {
                    padding-left: 20px;
                }
                > p {
                    transform: translate(20px,-10px);
                }
            }
            .alldesert-list {
                height: auto;
                ul {
                    height: auto;
                    margin: 0 20px;
                    padding: 20px 0 0 0;
                    li {
                        margin-top: 10px;
                        padding: 20px 0;
                        width: 220px;
                        a{
                            .all-img-div {
                                .all-img {
                                    height: 165px;
                                }
                            }
                            p {
                                bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        .basicmenu-container {
            > div.inner-con {
                > p {
                    transform: translateX(400px);
                }
                ul.list-ul {
                    width: 50%;
                    height: 380px;
                    padding: 20px 0 0 0;
                    margin-right: 20px;
                    > li {
                        width: 220px;
                    }
                }
                div.intro-desc {
                    margin-left: 20px;
                }
            }
        }
        .specialmenu-container {
            height: auto;
            .inner-con {
                > p {
                    margin-left: 20px;
                }
                ul.list-ul {
                    width: 45%;
                    height: 700px;
                    padding: 20px 0 0 0;
                    margin-left: 20px;
                }
                div.intro-div {
                    transform: translateY(180px);
                }
            }
        }
    }
}


/* 디바이스 width의 크기가 900px 미만 일때 */
@media screen and (max-width: 899px) {
    section.desert-con {
        .basicmenu-container {
            height: 800px;
            padding: 80px 0;
            > div.inner-con {
                > p {
                    left: 130px;
                }
                ul.list-ul {
                    width: 35%;
                    height: 700px;
                    padding: 20px 0 0 0;
                    margin-right: 20px;
                    > li {
                        width: 220px;
                    }
                }
                div.intro-div {
                    transform: translateY(200px);
                }
            }
        }
        .specialmenu-container {
            padding: 140px 0;
        }
    }
}

/* 디바이스 width의 크기가 820px 미만 일때 */
@media screen and (max-width: 819px) {
    section.desert-con {
        .specialmenu-container {
            height: 1600px;
            padding: 200px 0;
            .inner-con {
                > p {
                    margin: 0;
                    transform: translate(150px, 490px);
                }
                ul.list-ul {
                    width: 60%;
                    margin: 500px auto;
                }
                div.intro-div {
                    transform: none;
                    div.intro-img {
                        margin: 0;
                        transform: translateX(-47%);
                    }
                    div.intro-desc {
                        left: 50%;
                        transform: translateX(-47%);
                    }
                }
            }
        }
    }
}
