section.store-con {
    // background-color: darkkhaki;
    padding-top: 20px;
    .store-container {
        background-color: #eee;
        margin-top: 100px;
        .inner-con {
            // background-color: lightgreen;
            padding-top: 30px;
            padding-bottom: 30px;
            .map-div {
                background-color: bisque;
                width: 100%;
                min-height: 400px;
            }
        }
    }
}