footer {
    width: 100%;
    background-color: rgb(251, 244, 249);
    border-top: 1px solid #ccc;

    .footer-con {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        > ul.footer-menu {
            display: flex;
            > li {
                height: 20px;
                margin-right: 16px;
                position: relative;
                &:not(:last-child) {
                    &::after {
                        content: ""; 
                        display: block;
                        width: 2px;
                        height: 60%;
                        background-color: rgb(147, 117, 231);
                        position: absolute;
                        top: 5px;
                        right: -8px;
                    }
                }
            }
        }
        > ul.footer-links {
            display: flex;
            > li {
                height: 20px;
                margin-right: 16px;
                font-size: 20px;
                position: relative;
                &:not(:last-child) {
                    &::after {
                        content: ""; 
                        display: block;
                        width: 2px;
                        height: 80%;
                        background-color: rgb(147, 117, 231);
                        position: absolute;
                        top: 6px;
                        right: -8px;
                    }
                }
            }
        }
    }
}


/* 디바이스 width의 크기가 1000px 미만 일때 */
@media screen and (max-width: 999px) {
    footer {
        .footer-con {
            display: flex;
            flex-direction: column;
            align-items: center;
            > p {
                font-size: 12px;
                padding: 5px 0;
                order: 3;
                display: flex;
                span {
                    margin-right: 10px;
                }
            }
            > ul.footer-menu {
                padding: 5px 0;
            }
            > ul.footer-links {
                order: -1;
                padding: 5px 0;
            }
        }
    }
}