// footer {
//     background-color: rgb(204, 102, 102);
//     margin-top: 140px;
// }



footer {
    width: 100%;
    // position: absolute;
    // bottom: 0;
    border-top: 1px solid #ccc;

    .footer-con {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    
    }
}
