footer {
    width: 100%;
    background-color: rgb(251, 244, 249);
    // position: absolute;
    // bottom: 0;
    border-top: 1px solid #ccc;

    .footer-con {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        > ul.footer-menu {
            display: flex;
            > li {
                // background-color: blueviolet;
                height: 20px;
                margin-right: 16px;
                position: relative;
                &:not(:last-child) {
                    &::after {
                        content: ""; 
                        display: block;
                        width: 2px;
                        height: 60%;
                        background-color: rgb(147, 117, 231);
                        position: absolute;
                        top: 5px;
                        right: -8px;
                    }
                }
            }
        }
        > ul.footer-links {
            display: flex;
            > li {
                // background-color: blueviolet;
                height: 20px;
                margin-right: 16px;
                font-size: 20px;
                position: relative;
                &:not(:last-child) {
                    &::after {
                        content: ""; 
                        display: block;
                        width: 2px;
                        height: 80%;
                        background-color: rgb(147, 117, 231);
                        position: absolute;
                        top: 6px;
                        right: -8px;
                    }
                }
            }
        }
    }
}
