// display: flex
@mixin flexBox($fd:row, $wr:nowrap,$ju:space-between, $al:center) {
    display: flex;
    flex-direction: $fd;
    flex-wrap: $wr;
    justify-content: $ju;
    align-items: $al;
    @content;
  }

// 팔레트
$color-top:rgba(186, 215, 223, 0.8);
$color-middle-top:rgb(251, 244, 249);
$color-middle-bottom:rgb(246, 231, 230);
$color-bottom:rgb(246, 229, 245);

header {
    background-color: $color-top;
    width: 100%;
    height: 120px;
    position: fixed;
    // top: 0;
    z-index: 999;
    .login ul li {
        background-color: rgb(175, 180, 202);
        cursor: pointer;
    }
    &.lnb-on {
        background-color: rgb(34, 76, 88);
        .gnb ul li {
            color: rgb(201, 200, 200);
        }
        .login ul li {
            background-color: rgb(149, 153, 153);
            color: rgb(218, 218, 218);
        }
    }
    
    div.header-con {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;

        h1 {
            width: 200px;
            height: 70px;
            background: url('../../img/logo/gabes_logo_02.png') center center;
            background-size: contain;
            margin-left: 40px;
            font-size: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
            
        }
        .gnb {
            background-color: rgba(45, 61, 66, 0.7);
            width: 100%;
            height: 0px;
            color: rgb(73, 60, 60);
            font-size: 16px;
            font-weight: bold;
            position: absolute;
            top: 120px;
            transition: 0.1s;
            &.on {
                color: rgb(201, 200, 200);
                height: 100px;
            }
            
            > ul {
                // background-color: tan;
                width: 500px;
                height: 90px;
                padding: 0 20px;
                margin: 0 auto;
                position: absolute;
                top: -90px;
                left: 50%;
                transform: translateX(-50%);
                @include flexBox;
                > li {
                    // background-color: teal;
                    height: 100%;
                    padding: 20px 0;
                    border-radius: 6px;
                    position: relative;
                    a {


                        &:hover {
                            color: violet;
                            &::after {
                                width: 100%;
                                left: 0;
                            }
                        }
                        &::after {
                            content: "";
                            background-color: lightpink;
                            width: 0;
                            height: 4px;
                            
                            position: absolute;
                            bottom: 0; 
                            left: 50%;
                            
                            transition: 0.3s;
                        }

                    }
                }
            }
            .lnb {
                width: 500px;
                height: 0px;
                margin: 0 auto;
                font-size: 14px;
                font-weight: normal;
                transition: 0.05s;
                &.on {
                    height: 84px;
                }
                .lnb-innerDiv {
                    @include flexBox($ju:flex-start, $al:flex-start);
                    line-height: 20px;
                    margin-top: 16px;
                    ul li {
                        &:hover {
                            color: violet;
                        }
                    }
                    
                    ul.brand {
                        display: none;
                        margin-left: 20px;
                        text-align: center;
                        opacity: 0;
                        &.on {
                            display: block;
                            opacity: 1;
                        }
                        > li {
                            margin-bottom: 4px;
                        }
                    }
                    ul.menu {
                        display: none;
                        margin-left: 78px;
                        text-align: center;
                        opacity: 0;
                        &.on {
                            display: block;
                            opacity: 1;
                        }
                        > li {
                            margin-bottom: 4px;
                            
                        }
                    }
                    ul.store {
                        display: none;
                        margin-left: 77px;
                        text-align: center;
                        opacity: 0;
                        &.on {
                            display: block;
                            opacity: 1;
                        }
                        > li {
                            margin-bottom: 4px;
                        }
                    }
                    ul.board {
                        display: none;
                        margin-left: 90px;
                        text-align: center;
                        &.on {
                            display: block;
                        }
                        > li {
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
        .login {
            margin-right: 40px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);

            z-index: 99;
            ul {
                @include flexBox;
                li {
                    background-color: rgb(170, 169, 169);
                    margin-left: 10px;
                    padding: 8px;
                    border-radius: 6px;
                }
            }
        }
        .toggle {
            display: none;
            z-index: 101;
        }
        .toggle-menu {
            display: none;
        }
    }
}

/* 디바이스 width의 크기가 1000px 미만 일때 */
@media screen and (max-width: 999px) {
    header {
        div.header-con {
            .gnb, .login {
                display: none;
            }
            .toggle {
                background-color: rgb(170, 169, 169);
                width: 60px;
                height: 60px;

                position: absolute;
                top: 50%;
                right: 40px;
                transform: translateY(-50%);
                border-radius: 6px;
                cursor: pointer;

                @include flexBox($fd:column,$ju:center);

                &:hover span {
                    background-color: rgb(201, 200, 200);
                }

                &.on span {
                    margin-left: 14px;
                    &:nth-child(1){
                        transform: rotateZ(45deg) translateY(8px);
                    }
                    &:nth-child(2){ display: none; }
                    &:nth-child(3){
                        transform: rotateZ(-45deg) translateY(-8px);
                    }
                }
                
                span {
                    width: 60%;
                    height: 5px;
                    background-color: rgb(73, 60, 60);
                    margin: 3px;
                    border-radius: 10px;
                    transition: 0.3s;
                }
            }
            .toggle-menu {
                display: none;
                background-color: rgba(45, 61, 66, 0.7);
                width: 100vw;
                height: 100vh;
                
                position: absolute;
                top: 0;
                left: 0;
                z-index: 100;
                &.on {
                    @include flexBox($fd:column,$ju:center);
                }
                .toggle-gnb-bg {
                    background-color: rgb(211, 211, 210);
                    width: 80%;
                    padding: 30px;
                    transform: translateY(-10vh);
                    ul.toggle-gnb {
                        width: 100%;
                        height: 60px;
                        border-bottom: 1px solid #fff;
                        @include flexBox;
                        li {
                            width: 18%;
                            text-align: center;
                            font-size: 20px;
                        }
                    }
                    div.toggle-submenu {
                        width: 100%;
                        @include flexBox;
                        ul{
                            width: 18%;
                            text-align: center;
                            line-height: 30px;
                        }
                    }
                }
                .sub-login {
                    // background-color: teal;
                    width: 20%;
                    @include flexBox;
                    li {
                        background-color: rgb(170, 169, 169);
                        color: rgb(73, 60, 60);
                        padding: 10px;
                        border-radius: 10px;
                        cursor: pointer;
                        &:hover {
                            color: rgb(201, 200, 200);
                        }
                    }
                }
            }
        }
    }
}

/* 디바이스 width의 크기가 830px 미만 일때 */
@media screen and (max-width: 829px) {
    header div.header-con .toggle-menu .toggle-gnb-bg ul.toggle-gnb li { font-size: 16px; font-weight: bold;}
    #root > div > header > div > div.toggle-menu.on > div > div > ul { font-size: 12px; }
}

/* 디바이스 width의 크기가 700px 미만 일때 */
@media screen and (max-width: 699px) {
    #root > div > header > div > div.toggle-menu.on > ul { width: 28%; }
}

/* 디바이스 width의 크기가 490px 미만 일때 */
@media screen and (max-width: 489px) {
    #root > div > header > div > div.toggle-menu.on > ul { width: 35%; }
}
