section.history-con {
    padding-top: 20px;
    .history-container {
        margin-top: 100px;
        padding: 50px 0;
        > h2 {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }
        .history-01-bg{
            background-color: white;
            .history-01 {
                background: url('../../img/gabes/history/bg_history_01.jpg') left bottom no-repeat;
                background-size: cover;
                width: 100%;
                height: 650px;

                display: flex;
                flex-direction: column;
                p {
                    margin-top: 20px;
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                }
                dl {
                    flex: 1;
                    width: 37%;
                    align-self: flex-end;
                    margin-right: 80px;
                    dt {
                        font-size: 18px;
                        font-weight: bold;
                        &:nth-of-type(1) {
                            margin-top: 130px;
                        }
                        &:nth-of-type(2) {
                            margin-top: 50px;
                        }
                    }
                    dd {
                        color: #8f8f8f;
                        margin-top: 10px;
                        line-height: 1.6;
                    }
                }
            }
        }
        .history-02-bg{
            background-color: #f5f5f5;
            .history-02 {
                background: url('../../img/gabes/history/bg_history_02.jpg') top no-repeat;
                background-size: cover;
                width: 100%;
                height: 780px;

                display: flex;
                flex-direction: column;
                p {
                    margin-top: 20px;
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                }
                dl {
                    flex: 1;
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    dt {
                        width: 37%;
                        font-size: 18px;
                        font-weight: bold;
                        margin-right: 80px;
                        &:nth-of-type(1) {
                            margin-top: 130px;
                            margin-left: 80px;
                        }
                        &:nth-of-type(2) {
                            margin-top: 160px;
                            align-self: flex-end;
                            
                        }
                        &:nth-of-type(3) {
                            margin-top: 30px;
                            align-self: flex-end;
                        }
                    }
                    dd {
                        width: 37%;
                        color: #8f8f8f;
                        margin-top: 10px;
                        line-height: 1.6;
                        margin-right: 80px;
                        &:nth-of-type(1) {
                            margin-left: 80px;
                        }
                        &:nth-of-type(2) {
                            align-self: flex-end;
                        }
                        &:nth-of-type(3) {
                            align-self: flex-end;
                        }
                    }
                }
            }
        }
        .history-03-bg{
            background-color: #fff;
            .history-03 {
                background: url('../../img/gabes/history/bg_history_03.jpg') top no-repeat;
                background-size: cover;
                width: 100%;
                height: 590px;
                > p {
                    margin-top: 20px;
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                }
                > div {
                    width: 45%;
                    margin-top: 130px;
                    margin-left: 80px;
                    color: #8f8f8f;
                    p:nth-of-type(2) {
                        margin: 40px 0;
                    }
                    p:nth-of-type(3) {
                        span {
                            font-weight: bold;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

/* 디바이스 width의 크기가 960 미만 일때 */
@media screen and (max-width: 959px) {
    section.history-con {
        .history-container {
            .history-01-bg {
                .history-01 {
                    p {
                        font-size: 16px;
                    }
                    dl {
                        dt {
                            &:nth-of-type(1) {
                                margin-top: 50px;
                            }
                        }
                    }
                }
            }
            .history-02-bg{
                .history-02 {
                    p {
                        font-size: 16px;
                    }
                    dl {
                        dt {
                            &:nth-of-type(2) {
                                margin-top: 90px;
                            }
                        }
                    }
                }
            }
            .history-03-bg{
                .history-03 {
                    > p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}


/* 디바이스 width의 크기가 1170 미만 일때 */
@media screen and (max-width: 1169px) {
    section.history-con {
        .history-container {
            .history-01-bg {
                .history-01 {
                    dl {
                        dt {
                            &:nth-of-type(1) {
                                margin-top: 50px;
                            }
                        }
                    }
                }
            }
            .history-02-bg{
                .history-02 {
                    dl {
                        dt {
                            &:nth-of-type(2) {
                                margin-top: 90px;
                            }
                        }
                    }
                }
            }
        }
    }
}



/* 디바이스 width의 크기가 780px 미만 일때 */
@media screen and (max-width: 779px) {
    section.history-con {
        .history-container {
            .history-01-bg {
                .history-01 {
                    dl {
                        width: 45%;
                        margin-right: 40px;
                    }
                }
            }
            .history-02-bg{
                .history-02 {
                    dl {
                        dt {
                            width: 45%;
                            margin-right: 40px;
                            &:nth-of-type(1) {
                                margin-top: 80px;
                                margin-left: 40px;
                            }
                            &:nth-of-type(2) {
                                margin-top: 80px;
                            }
                            &:nth-of-type(3) {
                                margin-top: 20px;
                            }
                        }
                        dd {
                            width: 45%;
                            &:nth-of-type(1) {
                                margin-left: 40px;
                            }
                            &:nth-of-type(2) {
                                margin-right: 40px;
                            }
                            &:nth-of-type(3) {
                                margin-right: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    #root > div > section > div > div.boxes.inner-con {
        h2 {
            font-size: 20px;
        }
        div {
            .span-div {
                width: 85%;
            }
        }
    }
}


/* 디바이스 width의 크기가 608px 미만 일때 */
@media screen and (max-width: 607px) {
    section.history-con {
        .history-container {
            .history-01-bg {
                .history-01 {
                    dl {
                        width: 80%;
                        margin-right: 40px;
                    }
                }
            }
            .history-02-bg{
                .history-02 {
                    dl {
                        dt {
                            width: 80%;
                            margin-right: 40px;
                            &:nth-of-type(1) {
                                margin-top: 80px;
                                margin-left: 40px;
                            }
                            &:nth-of-type(2) {
                                margin-top: 100px;
                            }
                            &:nth-of-type(3) {
                                margin-top: 30px;
                            }
                        }
                        dd {
                            width: 80%;
                            &:nth-of-type(1) {
                                margin-left: 40px;
                            }
                            &:nth-of-type(2) {
                                margin-left: 40px;
                            }
                            &:nth-of-type(3) {
                                margin-left: 40px;
                            }
                        }
                    }
                }
            }
            .history-03-bg{
                .history-03 {
                    background: url('../../img/gabes/history/bg_history_03.jpg') bottom no-repeat;
                    background-size: contain;
                    > div {
                        width: 80%;
                        margin-top: 80px;
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}