section.upform-con {
    // background-color: darkkhaki;
    padding-top: 20px;
    .upform-container {
        background-color: #eee;
        margin-top: 100px;
        .inner-con {
            background-color: lightgray;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}