section.upform-con {
    padding-top: 20px;
    .upform-container {
        margin-top: 100px;
        .inner-con {
            padding: 50px 0;
            > h2 {
                margin-bottom: 40px;
                padding-bottom: 20px;
                border-bottom: 1px solid #ccc;
            }
            form {
                table {
                    width: 60%;
                    margin: 0 auto;
                    border-collapse: collapse;
                    tr {
                        border-bottom: 1px solid rgba(224, 224, 224, 1);
                    }
                    th {
                        width: 10%;
                        padding: 20px 0;
                    }
                    td {
                        width: 80%;
                        padding: 20px 0;
                        input {
                            width: 80%;
                            padding: 4px 10px;
                            margin-left: 10px;
                        }
                        textarea {
                            width: 80%;
                            padding: 4px 10px;
                            margin-left: 10px;
                            resize: none;
                        }
                    }
                }
                .btns {
                    width: 180px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    .btn {
                        background-color: darkgray;
                        width: 80px;
                        margin-top: 16px;
                        color: #fff;
                        padding: 10px;
                        border: none;
                        border-radius: 8px;
                        cursor: pointer;
                        &:hover {
                            background-color: lightgray;
                        }
                    }
                }
            }
        }
    }
}