section.register-con {
    padding-top: 20px;
    .register-container {
        margin-top: 100px;
        padding: 50px 0;
        > h2 {
            margin-bottom: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ccc;
        }
        .form-div {
            width: 60%;
            margin: 0 auto;
            text-align: center;
            table > tbody {
                tr {
                    td {
                        &:nth-child(1) {
                            text-align: center;
                        }
                        &:nth-child(2) {
                            input {

                                padding: 4px 10px;
                            }
                        }
                    }
                }
            } 
        }
        .btns {
            width: 180px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            .btn {
                background-color: darkgray;
                width: 80px;
                margin-top: 16px;
                color: #fff;
                padding: 10px;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                &:hover {
                    background-color: lightgray;
                }
            }
        }
    }
}

