body {
    &.active-modal {
        overflow-y: hidden;
    }
    .overlay {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        .login-wrap {
            background-color: #ddd;
            width: 600px;
            height: 500px;
            padding: 10% 0;
            border-radius: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            form.login-form {
                width: 60%;
                .close {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }
                table {
                    width: 100%;
                    margin: 0 auto;
                    text-align: center;
                    border-collapse: collapse;
                    td {
                        &:nth-child(1) {
                            font-size: 18px;
                        }
                        padding: 8px;
                        input {
                            border: none;
                            border-radius: 5px;
                            padding: 4px;
                        }
                    }
                }
                .login-btn, .register-btn {
                    width: 100%;
                    margin: 10px auto;
                    button {
                        width: 100%;
                        cursor: pointer;
                        background-color: #fff;
                        color: #6e6e6e;
                        border: 3px solid rgba(186, 215, 223, 0.8);
                        outline: none;
                        padding: 10px 30px;
                        border-radius: 15px;
                        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
                        text-decoration: none;
                        font-weight: 600;
                        &:hover {
                            background-color: rgba(186, 215, 223, 0.8);
                            color: #fff;
                            letter-spacing: 2px;
                            cursor: pointer;
                        }
                    }
                }
            }//.login-form
        }//div.login-wrap
    }//section.modal-wrap
}

//반응형
/* 디바이스 width의 크기가 650px 미만 일때 */
@media screen and (max-width: 649px) {
    body {
        .overlay {
            .login-wrap {
                width: 80%;
                height: auto;
                form.login-form {
                    width: 100%;
                    table {
                        td:nth-child(1) {
                            font-size: 14px;
                        }
                    }
                }//.login-form
            }//div.login-wrap
        }//section.modal-wrap
    }
}
  