.slider-container {
    height: 480px;
    position: relative;
    padding-top: 40px;
    section {
       .slide-div {
            position: relative;
            > div {
                position: absolute;
                transition: 0.9s;
                &.active {
                    position: absolute;
                    opacity: 1;
                }
                &.inactive {
                    opacity: 0;
                }
                &.slides {
                    width: 100%;
                    height: 439px;
                }
                .slide-image {
                    width: 100%;
                    object-fit: contain;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    .arrows {
        .prev {
            /* background-color: burlywood; */
            position: absolute;
            top: 40%;
            padding: 1rem;
            font-size: 40px;
            border-radius: 50%;
            cursor: pointer;
            z-index: 99;
            &:hover {
                color: white;
                background-color: rgba(0, 0, 0, 0.6);
                transition: all 0.5s ease-in;
            }
        }
        .next {
            /* background-color: burlywood; */
            position: absolute;
            top: 40%;
            right: 0;
            padding: 1rem;
            font-size: 40px;
            border-radius: 50%;
            cursor: pointer;
            z-index: 99;
            &:hover {
                color: white;
                background-color: rgba(0, 0, 0, 0.6);
                transition: all 0.5s ease-in;
            }
        }
    }
    .all-dots {
        height: 24px;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        z-index: 99;
        .dot {
            cursor: pointer;
            height: 1.5rem;
            width: 1.5rem;
            margin: 0px 3px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            display: inline-block;
        }
        .active-dot {
            background-color: rgba(255, 255, 255, 0.5);
        }
        .dot:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
}