.slider-container {
    height: 480px;
    position: relative;
    padding-top: 40px;
}

.slider-container section .slide-div .active {
    display: inline-block;
}

.slider-container section .slide-div .inactive {
    display: none;
}

.slider-container section .slide-div .slides {
    width: 100%;
    height: 439px;
    position: relative;
}

.slider-container section .slide-div .slide-image {
    width: 100%;
    position: relative;
    object-fit: contain;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.slider-container .prev, .next {
    /* background-color: burlywood; */
    position: absolute;
    top: 40%;
    padding: 1rem;
    font-size: 40px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 99;
}

.slider-container .prev:hover, .slider-container .next:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s ease-in;
}

.slider-container .next {
    right: 0;
}

.slider-container .all-dots {
    height: 24px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    z-index: 99;
}

.slider-container .all-dots .dot {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0px 3px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
}

.slider-container .all-dots .active-dot {
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-container .all-dots .dot:hover {
    background-color: rgba(0, 0, 0, 0.8);
}