.details-div {
    position: relative;
    width: 80%;
    height: 800px;
    margin: 0 auto;

    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    details {
        margin-top: 1em;
        width: 80%;
        summary {
            background-color: rgb(113, 190, 196);
            width: 100%;
            height: 50px;
            padding: 1em;
            cursor: pointer;
            outline: none;
            border-radius: .3em;
            font-weight: bold;
            transition: background-color 0.3s;
            &:hover {
                background-color: rgb(137, 228, 235);
            }
            &::-webkit-details-marker {
                background: url('../../../img/faq/arrows-up.png') center no-repeat;
            }
        }
        img {
            width: 50%;
        }
    }
    details[open] {
        summary ~ * {
            animation: sweep 0.5s ease-in-out;
        }
    }
}
