/* 구글 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* reset */
* {margin: 0;padding: 0;box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none;color: inherit;}

/* css */
.App {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}
.inner-con {
  max-width: 1200px;
  margin: 0 auto;
}


/* :not(#root > div > header) {
  margin-top: 140px;
} */